-e git://github.com/maxicecilia/django_site_news.git@7d320097cedec159e396ad3d223b3919d6449c3e#egg=django_site_news-0.1.1
-e git://github.com/maxicecilia/django_contact_us.git@2.1#egg=django_contact_us
-e git://github.com/bfirsh/django-ordered-model.git#egg=django-ordered-model
argparse==1.2.1
django-bootstrap3==5.1.1
django-dropbox==0.0.2
django-registration-redux==1.1
django-sitesutils==0.1.2
django-sitetree==1.2.1
django-tinymce==1.5.3
Django==1.7.3
dropbox==2.2.0
ipdb==0.8
ipython==2.3.1
Pillow==2.7.0
urllib3==1.10
wsgiref==0.1.2
django-grappelli==2.6.4