{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block main-content %}
<div class="row bottom-buffer top-buffer">
    {% if form %}
    <div class="col-md-10">
        <h2>Opiniones</h2>
        <p>Utilice este formulario para hacernos conocer su opinión sobre el curso, sobre este sitio web, o cualquier comentario o sugerencia que pueda ayudarnos a mejorar el funcionamiento de la Cátedra.</p>
        <p>Los campos de email y nombre son opcionales.</p>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <form action="{% url "contact_us" %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-default">
                    {% bootstrap_icon "send" %} Enviar
                </button>
            {% endbuttons %}
        </form>
    </div>
    {% else %}
    <div class="col-md-10">
        <h4>Muchas gracias por su comentario.</h4>
        <a href="/">Volver al inicio.</a>
    </div>
    {% endif %}
</div>
{% endblock %}
