{% extends "core/base.html" %}

{% block main-content %}
    <div class="page-header">
        <h1>Cartelera de Novedades<br/>
        <h4>Hasta el d&iacute;a {{lastUpdate|default:"25/10/2015"}}, se dictaron {{horasTeoria|default:5}} horas de clase te&oacute;rica, 
      y {{horasPractica|default:12}} horas de clase pr&aacute;ctica, lo que totaliza <b>{{ horasTotal|default:17 }} horas</b> en el semestre.</h4>
      </h1>
    </div>
    <table class="table table-striped table-bordered table-condensed">
      {% for article in news %}
      <tr>
        <td class="{% if article.date == now %}success{% endif %}">{{ article.date|date:"d/m/y" }}</td>
        <td class="{% if article.date == now %}success{% endif %}">{{ article.body|default:article.snippet }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}