{% extends "core/base.html" %}
{% load staticfiles %}

{% block main-content %}
    <div class="page-header">
        <h2>Docentes de {{dictation}}</h2>
    </div>
    {% for teacher in teachers %}
    <div class="container-fluid">
      <div class="clearfix">
        {% if forloop.counter|divisibleby:2 %}
          <div class="col-lg-3">
            {% if teacher.avatar %}
              <img class="img-responsive img-rounded pull-left" src="{{ teacher.get_image_url }}" alt="avatar" />
            {% else %}
              <img class="img-responsive img-rounded pull-left" src="{% static "img/default_avatar.jpg" %}" alt="default_avatar"/>
            {% endif %}
          </div>
        {% endif %}
        <div class="well well-lg col-lg-8">
          <h1>{{ teacher.user.get_full_name }} <small><a href="mailto:{{ teacher.user.email }}">{{ teacher.user.email }}</a></small></h1>
          {{ teacher.abstract|safe }}  
        </div>
        {% if not forloop.counter|divisibleby:2 %}
          <div class="col-lg-3">
            {% if teacher.avatar %}
              <img class="img-responsive img-rounded pull-left" src="{{ teacher.get_image_url }}" alt="avatar" />
            {% else %}
              <img class="img-responsive img-rounded pull-left" src="{% static "img/default_avatar.jpg" %}" alt="default_avatar"/>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    {% empty %}
      <div class="well well-lg col-lg-8">
          No hay profesores asignados a este dictado, todavía.
        </div>
    {% endfor %}
{% endblock %}
