{% extends "core/base.html" %}
{% load staticfiles cache set_var %}

{% block main-content %}
    <div class="page-header">
        <h2>{{profile.user.last_name|capfirst}}, {{profile.user.first_name|capfirst}}</h2>
    </div>
    <div class="container-fluid">
      <div class="clearfix">
        <div class="col-lg-3" style="margin-bottom: 20px;">
          {% if profile.avatar %}
            <img class="img-responsive img-rounded pull-left" src="{{ profile.default_image.url }}" alt="avatar" />
          {% else %}
            <img class="img-responsive img-rounded pull-left" src="{% static "img/default_avatar.jpg" %}" alt="default_avatar"/>
          {% endif %}
        </div>
        <div class="well well-lg col-lg-8">
          {{ profile.abstract|safe }}
        </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">Dictados</div>
          <div class="panel-body scrollbar-300">
    {% cache 7200 student_list %}
            {% set subject = "" %}
            {% for enroll in enrollments %}
                {% if subject != enroll.dictation %}
                    {% if subject %}
                        </ul>
                    {% endif %}
                    {% set subject = enroll.dictation %}
                    <h4>{{ subject }}</h4>
                    <ul>
                {% endif %}
                <li><a href="{% url 'profile' enroll.student_profile.id %}">{{ enroll }}</a></li>
            {% endfor %}
            {% if subject %}
                </ul>
            {% endif %}
    {% endcache %}
          </div>
      </div>
    </div>
{% endblock %}
