{% extends "core/base.html" %}
{% load staticfiles %}

{% block main-content %}
    <div class="page-header">
        <h2>Bibliografía</h2>
    </div>
    {% for object in bibliography %}
      <h3>{{object.category.name}}</h3>
      {% for book in object.books %}
      <div class="container-fluid" style="padding-top:10px">
        <div class="clearfix">
          <div class="col-lg-3">
            {% if book.cover_image %}
              <img class="img-responsive img-rounded pull-left" src="{{ book.default_image.url }}" alt="cover" />
            {% endif %}
          </div>
          <div class="well well-lg col-lg-8">
            <h3>{{ book }} <br/><small>{{ book.edition|default:"" }}</small></h3>
            <p>Autor: {{book.author|default:"-"}}</p>
            <p>Editorial: {{book.editorial|default:"-"}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    {% empty %}
      <div class="well well-lg col-lg-8">
          No hay bibligrafía para esta materia.
        </div>
    {% endfor %}
{% endblock %}
