{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %} Confirmar contraseña {% endblock %}

{% block main-content %}
    {% if validlink %}
        <p>Por favor ingrese y confirme su nueva contraseña.</p>

        <form action="." method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-default">Cambiar mi contraseña</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="/accounts/confirm/user/" />
        </form>
    {% else %}
        <p>El link utilizado es inválido, es posible que ya haya sido utilizado o haya expirado. Por favor, solicite otro cambio de contraseña. </p>
    {% endif %}
{% endblock %}