{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %} Restablecer contraseña {% endblock %}

{% block main-content %}
    <h3>Restablecer contraseña</h3>
    <p>¿Olvidó su contraseña? Introduzca su dirección de email abajo y le enviaremos instrucciones para establecer una nueva.</p>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form action="." method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-default">
                        {% bootstrap_icon "star" %} Restablecer contraseña
                    </button>
                {% endbuttons %}
            </form>
            <p><a href="/accounts/register/">¿Todavía no estás registrado?</a></p>
            <p><a href="{% url "auth_password_reset" %}">¿Olvidaste tu contraseña?</a></p>
        </div>
    </div>

{% endblock%}