{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block main-content %}
<div class="row bottom-buffer top-buffer">
    <div class="col-md-6 col-md-offset-2">
        <form action="/accounts/register/" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-default">
                    {% bootstrap_icon "star" %} Registrarme
                </button>
            {% endbuttons %}
        </form>
        <p><a href="/accounts/login/">¿Ya estás registrado?</a></p>
        <p><p><a href="{% url "auth_password_reset" %}">¿Olvidaste tu contraseña?</a></p></p>
    </div>
</div>
{% endblock %}
