/* Global reset */

body {
  font-family: Ubuntu, sans-serif;
  padding-top: 55px;
}

.section-title {
  text-align: right;
  padding-right: 4%;
  border-bottom: 2px solid #222;
  font-style: italic;
  font-weight: 600;
}

.date {
  font-weight: bold;
  padding-right: 20px;
}

div.navbar-collapse {
    margin-right: 20px;
}