/* Global reset */

body {
   font-family: Ubuntu, sans-serif;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .navbar {
    border: 0;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .main-header {
    display: none;
  }
}

.main-header {
  padding: 1px 2% 1px 40px;
  background: #D1CDCD;
}

.nav-highlight {
  color: #555;
  background-color: #D1CDCD;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
}

.section-title {
  text-align: right;
  padding-right: 4%;
  border-bottom: 2px solid #222;
  font-style: italic;
  font-weight: 600;
}

.date {
  font-weight: bold;
  padding-right: 20px;
}