{% load sitetree staticfiles %}
{% load recaptcha2 %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ site.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <!-- <link rel="stylesheet" href="formato.css"> -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <!-- bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https:http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https:http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% recaptcha_explicit_support %}
    <!-- end bootstrap -->
    {% block main_css %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% endblock %}
    {% block extra_css %}{% endblock %}
</head>

<body>
  <div id="wrap">
  {% block sidebar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ site.extendedsite.menu.title }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        {% sitetree_menu from menu_name include "trunk,topmenu" template "sitetree/menu_bootstrap3.html"  %}
      </div><!--/.nav-collapse -->
    </nav>
  {% endblock %}
  <div class="container">
    <div id="main-content" class="col-lg-12">
      {% block main-content %}{% endblock %}
    </div>
  </div>
  </div>
  <div id="footer">
    <div class="container">
      <p>
        <a target="_blank" href="https://www.facebook.com/groups/539109899467734/"><img src="{% static "img/fb_social_32.png" %}" alt="facebook"></a>
        <a target="_blank" href="https://twitter.com/arqcomUNT"><img src="{% static "img/twitter_social_32.png" %}" alt="twitter"></a>
      </p>
      <p class="text-muted">Cátedra de Arquitectura de Computadoras - Facultad de Ciencias Exactas y Tecnología - Universidad Nacional de Tucumán - {% now "Y" %}</p>
    </div>
  </div>

  <ul class="nav pull-right scroll-top"></ul>

{% block main_js %}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js" type="text/javascript"></script>
  <script src="{% static "js/main.js" %}" type="text/javascript"></script>
{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>